<div id="socialMediaShareLinksContainer">
    
    <div id="supportUsLinksArea">

        <div class="socialMediaContainerLinksLabel">
            Support Us
        </div>

        <div id="donationLinks">
            <app-social-link class="socialLink" imagePath="..\assets\Images\Socials\Facebook\facebook_256.png" websitePath=""></app-social-link>
        </div>
    
    </div>


    <div id= "socialMediaLinksContainerArea">
        <div class="socialMediaContainerLinksLabel">
            Share
        </div>
        
        
        
        <div id="socialMediaLinks">
            <app-social-link class="socialLink" imagePath="..\assets\Images\Socials\Facebook\facebook_256.png" websitePath=""></app-social-link>
            <app-social-link class="socialLink" imagePath="..\assets\Images\Socials\Facebook\facebook_256.png" websitePath=""></app-social-link>
            <app-social-link class="socialLink" imagePath="..\assets\Images\Socials\Facebook\facebook_256.png" websitePath=""></app-social-link>
            <app-social-link class="socialLink" imagePath="..\assets\Images\Socials\Facebook\facebook_256.png" websitePath=""></app-social-link>
        </div>
    </div>
   

    
    
  
</div>