#topicGridLink{
    display: grid;
    grid-template-rows: auto;  
    grid-template-columns: auto; 
    width: 100%; 
}

#topicLinkLabelArea {
    display: grid;
    background: rgba(0, 0, 0, 0.8);
    grid-row: 1/2;
    grid-column: 1/2;
    min-width: 100%;
    align-self: flex-end;
    z-index: 2;
    padding-top: 15px;
    padding-bottom: 15px;
}

#linkText {
    display: flex;
    align-self: center;
    justify-self: center;
}

.topicLinkPicture {
    grid-row: 1/2;
    grid-column: 1/2;
    display: block;
    max-width: 100%; 
    height: auto;
    justify-content: center;
    align-self: center;
    z-index: 1;
}