<div id="aboutpage">
    <div id="bioArea">
        <img id="bioPicture" src="../../../assets/Images/Icons/PlaceholderPicture.png">
        <div id="bioText">
            Hello!  My name is Benjamin, but many like to call me Ben for short.  
            I am a self-taught, avid enthusiast of game development and 3D graphics.
            I'm also currently studying for a bachelor’s degree in computer science.  
            <br><br>
            I made this website with 
            the goal of creating simple and easy-to-understand tutorials in the areas of 
            game development, programming, and 3D graphics.  I believe that 
            simplicity is the most powerful concept in learning and achieving 
            great things.  I hope to provide you with knowledge that will prove 
            to be beneficial in your own games or projects.
        </div>
    </div>

    <div id="secondaryInfoArea">
        <h2>WANT TO STAY UPDATED?</h2>

        If you wish to be notified of new articles or updates, you can follow 
        the Ben’s Tutorials <a>Instagram</a> or <a>Facebook</a> accounts.  In addition, all 
        assets and code related to the tutorials can be found on the Ben's Tutorials
        <a>GitHub</a> page.  All the content there is free to use commercially or otherwise.

        <h2>CONTACT INFO</h2>

        You can contact me directly by emailing me at [insert email here].

    </div>


</div>

<app-footer></app-footer>
