
<div id="headerComponent">
    <div id="socialLinksArea">
       <app-social-link class="socialLink" imagePath="../../../assets/Images/Socials/Facebook/facebook_256.png" websitePath=""></app-social-link>
       <app-social-link class="socialLink" imagePath="../../../assets/Images/Socials/Instagram/instagram_256.png" websitePath=""></app-social-link>
       <app-social-link class="socialLink" imagePath="../../../assets/Images/Socials/GitHub/github_256.png" websitePath=""></app-social-link>
    </div>
    
    <img id="websiteLogo" src="../../../assets/Images/Logos/Logo_HalfSize.png"/>
    
    <div id="navigationLinksArea">
        <app-navigation-link class="headerNavigationLink" label="Home" routerLinkPath="home">  </app-navigation-link>
        <app-navigation-link class="headerNavigationLink" label="About" routerLinkPath="about"> </app-navigation-link> 
    </div>
</div>