#pageContentIndicator {
    display: grid;
    grid-template-columns: auto auto auto;
}

#indicatorText {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    text-justify: center;
    justify-content: center;
    justify-self: center;
    text-align: center;
    align-self: center;
    align-content: center;
    cursor:default;
}

.pageIndicatorButton {
    display: block;
    font-size: 25px;
    justify-content: center;
    justify-self: center;
    text-align: center;
    align-self: center;
    align-content: center;
    cursor: pointer;
}