<div id="articleGrid">

    <div id="articleGrid_Header">
      <div id="backButtonArea"> 
        <app-back-button id = "backButton"></app-back-button>
      </div>
      
      <app-content-page-indicator id="articleGrid_PageIndicator"></app-content-page-indicator>
    </div>

    <div id= "overlappingGrids">
      <div class="articleGrid_GridArea" id="emptyGridArea">
        <app-empty-grid-link></app-empty-grid-link>
        <app-empty-grid-link></app-empty-grid-link>
        <app-empty-grid-link></app-empty-grid-link>
        <app-empty-grid-link></app-empty-grid-link>

        <app-empty-grid-link></app-empty-grid-link>
        <app-empty-grid-link></app-empty-grid-link>
        <app-empty-grid-link></app-empty-grid-link>
        <app-empty-grid-link></app-empty-grid-link>

        <app-empty-grid-link></app-empty-grid-link>
        <app-empty-grid-link></app-empty-grid-link>
        <app-empty-grid-link></app-empty-grid-link>
        <app-empty-grid-link></app-empty-grid-link>

        <app-empty-grid-link></app-empty-grid-link>
        <app-empty-grid-link></app-empty-grid-link>
        <app-empty-grid-link></app-empty-grid-link>
        <app-empty-grid-link></app-empty-grid-link>
      </div>

      <!-- (@staggerFadeIn.start) = "onAnimationStart($event)" (@staggerFadeIn.done) = "onAnimationEnd($event)"  [@staggerFadeIn]="currentState" -->
      <div class="articleGrid_GridArea" id="linkGridArea" >

        <div class="gridLink" *ngFor="let data of currentlyDisplayedData; let currentIndex=index;">
          <div *ngIf="backendService.getCurrentGridDataMode() === 'topic'; else seriesBlock;">
            <app-topic-grid-link [topic]="currentlyDisplayedData[currentIndex]" [gridIndex]="currentIndex" [imageURL]="currentlyDisplayedData[currentIndex].imageLinkURL" [linkLabel]="currentlyDisplayedData[currentIndex].topic" (topicSelected) = 'OnTopicSelected($event)' ></app-topic-grid-link>
          </div>
          
          <ng-template #seriesBlock>
            <div *ngIf="backendService.getCurrentGridDataMode() === 'series'; else articleBlock;">
              <app-series-grid-link  [series]="currentlyDisplayedData[currentIndex]" [gridIndex]="currentIndex" [imageURL]="currentlyDisplayedData[currentIndex].imageLinkURL" [linkLabel]="currentlyDisplayedData[currentIndex].series" (seriesSelected) = 'OnSeriesSelected($event)'></app-series-grid-link>
            </div>
          </ng-template> 
          
          <ng-template #articleBlock>
            <div  *ngIf="backendService.getCurrentGridDataMode() === 'article';">
              <app-article-grid-link  [article]="currentlyDisplayedData[currentIndex]" [gridIndex]="currentIndex" [imageURL]="currentlyDisplayedData[currentIndex].imageLinkURL" [linkLabel]="currentlyDisplayedData[currentIndex].article" (articleSelected) = 'OnArticleSelected($event)'></app-article-grid-link>
            </div>
          </ng-template>
        
        </div>
      </div>
    </div>
</div>