#backButton{
    grid-row: 1;
    grid-column: 1/2;
    display: inline-flex;
    flex-direction: row;
    align-self: center;
    align-content: center;
    align-items:  center;
    margin-top: 3px;
    cursor: pointer;
    user-select: none;

}

#backButtonImage {
    display: block;
    height: 25px;
    width: auto;
    margin-right: 4px;
    align-self: center;
    align-content: center;
    align-items:  center;
    cursor: pointer;
    user-select: none;

}
